# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
build/
dist/

# Project Specific
mongo_data/
mongo.log
.DS_Store

# IDE
.vscode/
.idea/
.vercel
.env*.local
